<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link href="./css/index.css" rel="stylesheet" />
	</head>
	<body>
		<div class="flex flex-col justify-center items-center mt-20">
			<h2 class="uppercase text-xl font-bold mb-10">Users Details</h2>

			<table id="table-users" class="table-fixed border text-center w-96">
				<thead class="border-b">
					<tr>
						<th class="text-sm font-medium text-gray-900 px-6 py-4 border-r">No.</th>
						<th class="text-sm font-medium text-gray-900 px-6 py-4 border-r">User</th>
						<th>Edit</th>
					</tr>
				</thead>
				<tbody id="table-users-body" class="border-b"></tbody>
			</table>

			<div class="flex flex-col w-98 pl-5 justify-center mt-10">
				<h2 class="uppercase text-lg font-bold text-center mb-5">Create New User</h2>
				<p class="mb-2">Username:</p>
				<input
					id="input-username"
					type="text"
					class="mb-4 border-gray-200 border rounded w-full h-9 pl-2"
				/>
				<p>Password:</p>
				<input
					id="input-password"
					type="text"
					class="mb-4 border-gray-200 border rounded w-full h-9 pl-2"
				/>
				<div class="flex">
					<div class="flex justify-start w-1/2">
						<p id="text-error" class="text-red-500 hidden">Create Fail</p>
					</div>

					<div class="flex justify-end w-1/2">
						<button
							id="button-create"
							class="border border-gray-400 bg-gray-200 pt-1 pb-1 pl-4 pr-4"
						>
							Create
						</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		const token = localStorage.getItem('cipherflow_access_token');
		if (!token) {
			alert('Please login');
			window.location.href = '/login';
		}

		const table = document.getElementById('table-users-body');
		const create = document.getElementById('button-create');

		fetchUsers();
		create.onclick = createHandle;

		function editUserHandle(username) {}

		function createNewUserRow(user, i) {
			const newUserRow = document.createElement('tr');
			const number = document.createElement('th');
			const username = document.createElement('th');
			const editButton = document.createElement('button');
			number.classList.add(
				'text-sm',
				'font-medium',
				'text-gray-900',
				'px-6',
				'py-4',
				'border-r',
				'whitespace-nowrap',
			);
			username.classList.add(
				'text-sm',
				'font-medium',
				'text-gray-900',
				'px-6',
				'py-4',
				'border-r',
				'whitespace-nowrap',
			);
			editButton.classList.add(
				'text-sm',
				'font-medium',
				'text-gray-900',
				'pl-4',
				'pr-4',
				'mx-6',
				'my-4',
				'border',
				'hover:bg-gray-200',
			);
			newUserRow.classList.add('border-b');
			number.textContent = i;
			username.textContent = user.username;
			editButton.textContent = 'Edit';
			newUserRow.appendChild(number);
			newUserRow.appendChild(username);
			newUserRow.appendChild(editButton);
			table.appendChild(newUserRow);
		}

		function fetchUsers() {
			fetch('/api/users', {
				method: 'GET',
				headers: {
					Authorization: `Bearer ${token}`,
				},
			})
				.then(res => res.json())
				.then(users => {
					users.forEach((user, i) => {
						createNewUserRow(user, i + 1);
					});
				})
				.catch(err => {
					console.error(err);
				});
		}

		function createHandle() {
			create.classList.disabled = true;
			const username = document.getElementById('input-username').value;
			const password = document.getElementById('input-password').value;

			const body = { username, password };

			fetch('api/users', {
				method: 'POST',
				caches: 'no-cache',
				headers: {
					'Content-Type': 'application/json',
					Authorization: `Bearer ${token}`,
				},
				body: JSON.stringify(body),
			})
				.then(res => res.json())
				.then(user => {
					window.location.reload();
				})
				.catch(err => {
					document.getElementById('text-error').classList.remove('hidden');
					console.error(err);
					create.classList.disabled = false;
				});
		}
	</script>
</html>
